[Unit]
Description=DND Campaign Creator
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/bin/docker run --env-file=/home/leo/dev/dndcampaigncreator/.env  -p 8000:8000 dndcampaigncreator:latest

[Install]
WantedBy=default.target
