<header>
    <div class="title">{{title}}</div>
    <p style="text-align: center; font-weight: bold; font-style: italic; font-size: 20px">Target Level: 1-5 | Setting:
        Forgotten Realms</p>
</header>
<button id="download-button" class="dragon-btn">
    <span class="dragon-scales"></span>
    <span class="btn-text">Download as HTML</span>
</button>
<br />
<br />
<div class="toc">
    <h3>Campaign Contents</h3>
    <ul>
        <li><a href="#setup">1. Setup & Background</a></li>
        <li><a href="#start">2. Starting Point</a></li>
        <li><a href="#hooks">3. Plot Hooks</a></li>
        <li><a href="#mainplot">4. Main Plot Steps</a></li>
        <li><a href="#twists">5. Plot Twists</a></li>
        <li><a href="#map">6. Regional Map</a></li>
        <li><a href="#npcs">7. Main Characters</a></li>
        <li><a href="#monsters">8. Monsters</a></li>
        <li><a href="#rewards">9. Rewards</a></li>
    </ul>
</div>

{% include "setup.html" %}

{%include "starting_point.html" %}

{%include "plot_hooks.html" %}

{%include "main_plot.html" %}

{%include "plot_twists.html" %}

{%include "regional_map.html" %}

{%include "npcs.html" %}

{%include "monsters.html" %}

{%include "rewards.html" %}

{%include "magic_items.html" %}

{%include "modal.html" %}

{%include "player_charater_sheets.html" %}
